<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-principal" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#page-top">
      <i><div class="h3">Ontrack Jammy</div></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0 pl-4">
        <li class="nav-item"><a class="nav-link bhover color-texto tamaño" href="#services">objetivo</a></li>
        <li class="nav-item"><a class="nav-link bhover color-texto tamaño" href="#about">Grupo</a></li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Bienvenido a un estilo vida!</div>
    <a class="btn btn-primary btn-sm text-uppercase" routerLink="/auth/login">Iniciar sesión</a>
  </div>
</header>

<section class="page-section bg-principal" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase color-texto">objetivo</h2>
      <h3 class="section-subheading color-texto">
        Hemos Diseñado este sistema con el objetivo de:
      </h3>
    </div>
    <div class="row color-texto">
      <div class="col-md-4">
        <span class=" fa fa-stack fa-4x ">
          <i class="fa fa-circle fa-stack-2x bg-iconos"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse bg-iconos-2 "></i>
        </span>
        <h4 class="my-3">E-Commerce</h4>
        <p class="color-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
          architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x bg-iconos"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse bg-iconos-2 "></i>
        </span>
        <h4 class="my-3">Responsive Design</h4>
        <p class="color-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
          architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x bg-iconos"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse bg-iconos-2"></i>
        </span>
        <h4 class="my-3">Web Security</h4>
        <p class="color-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
          architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- integrantes del grupo -->

<section class="page-section bg-principal" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading color-texto ">About</h2>
      <h3 class="section-subheading color-texto ">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/about/1.jpg"
            alt="..." /></div>
        <div class="timeline-panel color-texto">
          <div class="timeline-heading">
            <h4>2009-2011</h4>
            <h4 class="subheading">Our Humble Beginnings</h4>
          </div>
          <div class="timeline-body">
            <p class="color-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
              voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
              unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/about/2.jpg"
            alt="..." /></div>
        <div class="timeline-panel color-texto">
          <div class="timeline-heading">
            <h4>March 2011</h4>
            <h4 class="subheading">An Agency is Born</h4>
          </div>
          <div class="timeline-body">
            <p class="color-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
              voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
              unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/about/3.jpg"
            alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading color-texto">
            <h4>December 2015</h4>
            <h4 class="subheading">Transition to Full Service</h4>
          </div>
          <div class="timeline-body">
            <p class="color-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
              voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
              unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/about/4.jpg"
            alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading color-texto">
            <h4>July 2020</h4>
            <h4 class="subheading">Phase Two Expansion</h4>
          </div>
          <div class="timeline-body">
            <p class="color-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
              voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero
              unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- FOOTER -->
<footer class="footer py-4 bg-principal">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start color-texto">Copyright &copy; Your Website 2022</div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none me-3 color-texto" href="#!">Privacy Policy</a>
        <a class="link-dark text-decoration-none color-texto" href="#!">Terms of Use</a>
      </div>
    </div>
  </div>
</footer>
