<div class="d-flex bg-principal">

  <!--aside-->
  <div class="border-right p-2" id="sidebar">
    <h3 class="text-light p-2 text-center">
      Perfil de Steiner
    </h3>

    <hr class="text-white" />

    <li class="text-center">
      <br>
      <a class="btn text-white w-50 mt-3" style="background-color: #091D42;" (click)="home()">Inicio</a>
      <br>
      <a class="btn text-white w-50 mt-3" style="background-color: #091D42;" (click)="homeWork()">Agregar tareas</a>
      <br>
      <a class="btn text-white w-50 mt-3" style="background-color: #091D42;" (click)="table()">Tabla De Tareas</a>
    </li>

  </div>

  <!--section-->
  <div class="container p-0" id="colorPrincipl">
    <div class="p-4" id="colorPrincipl"></div>
    <div class="p-3" id="colorPrincipl">
      <app-profile-home *ngIf="select1"></app-profile-home>
      <app-profile-homework *ngIf="select2"></app-profile-homework>
      <app-profile-table *ngIf="select3"></app-profile-table>
    </div>
    <div class="p-4" id="colorPrincipl">
      <div class="h6 text-white">creado para el colegio manuel maria mallarino @copyright</div>
    </div>
  </div>

</div>