<div class="bg-principal">
  <!--sidebar-->
  <div class="Sidebar">
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img src="/jammy-frontend/src/assets/assets-profile/img/profile-img.jpg" alt=""
            class="img-fluid rounded-circle" />
          <h1 class="text-light"><a href="index.html">Alex Smith</a></h1>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a class="nav-link scrollto active">
                <i class="fa fa-home"></i>
                <span>Inicio</span>
              </a>
            </li>
            <li>
              <a class="nav-link scrollto">
                <i class="bx bx-user"></i>
                <span>Mis tareas</span>
              </a>
            </li>
            <li>
              <a class="nav-link scrollto">
                <i class="bx bx-file-blank"></i>
                <span>Horario</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </div>

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <article>
        <app-profile-home class="text-white"></app-profile-home>
      </article>
      <article>
        <!-- <app-profile-homework class="text-white"></app-profile-homework> -->
      </article>
      <article>
        <!-- <app-profile-schedule class="text-white"></app-profile-schedule> -->
      </article>
      <footer>
        <div class="h6 text-white">creado para el colegio manuel maria mallarino @copyright</div>
      </footer>
    </div>
  </section>
</div>
