<!--sidebar-->
<div class="bg-dark border-right p-2" id="sidebar">
    <h3 class="text-light">
      Jammy profile
    </h3>

    <hr class="text-white" />

    <ul class="list-group">
        <li class="list-group-item mt-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</li>
        <li class="list-group-item mt-3" routerLinkActive="active">Mis Tareas</li>
        <li class="list-group-item mt-3" routerLinkActive="active">Mi Horario</li>
        <li class="list-group-item mt-3" routerLinkActive="active">Agregar datos</li>
    </ul>
</div>